<div class="Item">
  <img class="Item-img" [src]="getImage()" alt="Обложка книги" />

  <div class="Item-title">
    <a
      [routerLink]="['/products', getIsbn()]"
      routerLinkActive="productDetails"
    >
      {{ getTitle() }}
    </a>
  </div>
  <div class="Item-description">{{ getSubtitle() }}</div>

  <div class="Item-controls-wrapper">
    <div *ngIf="mode === 'remove'" class="Item-quantity-controls">
      <button (click)="decrease.emit(getIsbn())">−</button>
      <div class="Item-quantity">{{ item.quantity }}</div>
      <button (click)="increase.emit(getIsbn())">+</button>
    </div>
  </div>

  <div class="Item-actions">
    <i *ngIf="isInCart" class="fas fa-shopping-cart Cart-icon"></i>
    <div class="Item-price">{{ getPrice() }}</div>
    <app-button
      *ngIf="mode === 'add'"
      title="Add"
      btnStyle="primary"
      type="button"
      (buttonClick)="onAdd()"
    ></app-button>
    <app-button
      *ngIf="mode === 'remove'"
      title="Remove"
      btnStyle="delete"
      type="button"
      (buttonClick)="onRemove()"
    ></app-button>
  </div>
</div>
