.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
  padding: 16px;
}

.Item-img {
  width: 100%;
  max-width: 50px;
}

.Item-title {
  font-weight: bold;
}

.Item-title:hover {
  color: var(--primary);
  cursor: pointer;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.Item-quantity-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1px;
}

.Cart-icon {
  color: var(--primary);
  font-size: 1rem;
}

.Item-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

