.ArticleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 16px;
  position: relative;
  text-align: center;
}

.ArticleCard-description {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 12px;
}

.ArticleCard-prop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ArticleCard-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 8px;
}

.ArticleCard-prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ArticleCard-prop_size_big {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label {
  width: fit-content;
}

.ArticleCard-value {
  font-weight: bold;
}

.ArticleBackHome {
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-start;
  margin-left: 90px;
}

.Article-addButton {
  margin-top: 16px;
}

.Cart-info {
  margin-top: 12px;
  color: var(--primary);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
