.ArticleCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-block: 24px;
}

.ArticleCard-description {
  font-size: 18px;
  line-height: 1.4;
}

.ArticleCard-prop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ArticleCard-image {
  position: relative;
  top: -60px;
  width: 100%;
  max-width: 30vw;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  align-self: center;
}

.ArticleCard-prop {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ArticleCard-prop_size_big {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: bold;
}

.ArticleCard-label {
  margin: 0 auto;
  width: 200px;
}

.ArticleCard-value {
  margin: 0 auto;
  font-weight: bold;
}

.ArticleCard-prop_size_big .ArticleCard-label {
  width: fit-content;
}

.ArticleBackHome {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
}

.Article-addButton {
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.Cart-info {
  margin-top: 10px;
  color: var(--primary);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
